body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	color: white;
	font-style: italic;
}

a {
	color: black;
}

.noise {
	position: absolute;
	top: 0;
	z-index: 1; 
	width: 2000px;
	height: 400px;
	left: 0;
	background: url('noise.png');
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 4;
}

.background {
	transform: rotate(-7deg);
	position: absolute;
	z-index: 2;
	top: 150px;
	left: -200px;
	background: #df3e59;
	width: 140vw;
	height: 2000px;
}

header .center-text {
	font-size: 160px;
	width: 100vw;
}

header .center-text:hover {
	display: none;
}

header .center-text span {
	position: absolute;
	left: 50%;
	top: 100px;
	transform: translate(-50%, -50%);
}
.text1 {
	color: #ff35ff;
	left: calc(50% - 4px) !important;
	top: calc(100px - 4px) !important;
}

.text2 {

}

.text3 {
	color: #00ffff;
	left: calc(50% + 3px) !important;
	top: calc(100px + 3px) !important;
}

.after-header {
	position: absolute;
	top: 270px;
	left: 0;
	width: 100vw;
}

.content-container {
	width: 900px;
	margin: auto;
}

#rap-container {
	width: 340px;
	height: 390px;
	position: relative;
	font-size: 18px;
}

#rap-container div {
	position: absolute;
	transition: top 200ms, left 200ms, width 200ms, height 200ms;
}

#rap-container .pink-container {
	width: 300px;
	height: 350px;
	left: 10px;
	top: 10px;
}

#rap-container:hover .pink-container {
	left: 0;
	top: 0;
}

#rap-container .white-container {
	width: 280px;
	height: 330px;
	left: 30px;
	top: 30px;
	box-sizing: border-box;
	padding: 20px;
	color: black;
}
#rap-container:hover .white-container {
	width: 260px;
	height: 310px;
	left: 40px;
	top: 40px;
}


#rap-container .yellow-container {
	width: 305px;
	height: 355px;
	left: 30px;
	top: 30px;
}

#rap-container:hover .yellow-container {
	left: 40px;
	top: 40px;
}

.pink-container {
	background: #ff3eff;
}

.white-container {
	background: #fff;
}

.yellow-container {
	background: #ffff59;
}

.box-title {
	position: static !important;
	font-size: 40px;
	text-align: right;
	width: 100%;
}

#bottom-strip {
	background: #222;
	width: 100vw;
	height: 25px;
	padding-top: 2px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
}

.marquee-pusher {
	width: 200px;
}